@model MiniInternetMagazin.Models.GroceryStoreViewModels.Product
@{
    ViewData["Title"] = "Delete";
}
<h4 class="text-info">Удалить продукт по Id из таблицу</h4>
<form method="post" action="~/Products/Delete">
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <label for="ProductId">Id продукта</label><br />
                <input asp-for="ProductId" type="number" class="form-control" placeholder="Введите Id" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <input type="submit" class="btn btn-primary" value="Удалить" />
            </div>
        </div>
    </div>
</form>